
# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
# Visual Studio Code
.vscode/
# Build results
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
# NuGet Packages
*.nupkg
# Others
*.dbmdl
*.dbproj
*.jfm
*.DS_Store
# Rider
.idea/
# User-specific files
appsettings.Development.json
